{% extends 'base.html' %}

{% load custom_filters custom_tags %}

{% block title %}
    Question {{ question.order_num }}
{% endblock %}

{% block header %}
    {{ question.text }}
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ choices.management_form }}
            {% for form in choices %}
                <div class="mt-1">
                    {{ form.is_selected }} <label for="{{ form.is_selected.id_for_label }}">
                        {{ form.text.value }}
                    </label>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success mt-5">Дальше ></button>
        </form>
    </div>
{% endblock %}
