{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
re Activation
{% endblock %}

{% block header %}Input Email{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"> </div>
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
              <div class="text-center">
                  <input type="submit" class="btn btn-outline-primary" value="Send">

              </div>
            </form>
        </div>
        <div class="col-3"> </div>
    </div>
{% endblock %}